@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Itim&display=swap");

:root {
  --primary: #3e3e3e;
  --secondary: grey;
  --warning-color: rgb(247, 124, 124);
  --body-bg: #ebebeb;
  --content-bg: #ffffff;
  --highlight: red;
  --font-primary: "Itim", cursive;
  --font-secondary: "Cinzel", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: var(--body-bg);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.default_padding {
  padding: 0 10px;
}

.text_regular {
  font-size: 18px;
  color: var(--primary);
}

.header {
  font-size: 34px;
  color: var(--primary);
  font-family: var(--font-secondary);
  user-select: none;
  -webkit-user-select: none;
}

.input {
  padding: 12px 5px;
  width: 100%;
  border: 1px solid var(--primary);
  border-radius: 3px;
  outline: none;
  font-size: 18px;
}

.button {
  text-transform: capitalize;
  font-size: 18px;
  width: 100%;
  padding: 12px 5px;
  border-radius: 3px;
  outline: none;
  border: none;
  margin: 10px 0;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.errorMessage {
  color: var(--highlight);
  font-size: 16px;
  text-align: center;
}

.successMessage {
  color: green;
  font-size: 16px;
  text-align: center;
}

.fade_in {
  -webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media screen and (max-width: 600px) {
  .default_padding {
    padding: 0 5px;
  }

  .header {
    font-size: 24px;
  }

  .text_regular {
    font-size: 14px;
  }

  .input {
    font-size: 14px;
  }

  .button {
    font-size: 16px;
  }
}

/* Animations */

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
