.menu {
  height: 35px;
  background-color: var(--primary);
  display: none;
  justify-content: center;
  align-items: center;
}

.menu .menu_list {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .menu {
    display: flex;
  }
}
