.navbar {
  height: 90px;
  border-bottom: 1px solid var(--primary);
  user-select: none;
  -webkit-user-select: none;
}

.navbar .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .wrapper .col {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar .wrapper .col:last-child {
  justify-content: flex-end;
}

.navbar .wrapper .col .nav_logo {
  object-fit: contain;
  width: 130px;
}

.navbar .wrapper .col .nav_icon {
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navbar .wrapper .col .nav_logo {
    width: 100px;
  }

  .navbar .wrapper .col .nav_icon {
    width: 25px;
  }
}
