.popup {
  position: fixed;
  top: 90px;
  right: 10px;
  min-height: 30px;
  width: 300px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 30px 20px;
  color: var(--content-bg);
  background-color: var(--warning-color);
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .popup {
    max-width: 250px;
    padding: 20px;
    top: 120px;
  }
}
